body {
  text-align: center;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
}

.player-score {
  text-align: center;
  font-size: 40px;
  color: black;
  padding: 5px;
  background-color: silver;
  border-radius: 5px;
}